body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f8ff;
  color: #333;
  text-align: center;
}

.container {
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #333;
}

#excuse {
  font-size: 2em; /* Increase font size */
  font-weight: bold; /* Make text bold */
  color: #ff6347; /* Change text color to tomato red */
  padding: 10px;
}
